@model IEnumerable<TechnossusAssignment.Models.Student>

@{
    ViewData["Title"] = "StudentList";
}

<h2>Search</h2>
<a href="/Student/StudentList">Student List</a>
@using (Html.BeginForm("StudentList", "Student", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Search by Date:")
        @Html.TextBox("registrationDate", null, new{ @class = "form-control", @type ="date" , @style = "width : 30%"})
    </div>
    <div class="form-group">
        @Html.Label("Search by Name and City:")
        @Html.TextBox("searchString", null, new{ @class = "form-control" , @style = "width : 30%"})
    </div><br />
    <button type="submit" class="btn btn-primary">Search</button>
}
<br />
<hr />

<h2>StudentList</h2>
<p>
    <a asp-action="Create">Create New Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration_Date)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration_Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
